$c-primary: #000;
$c-secondary: #b8ff34;
$c-font: #fff;

// Fuentes
$font-base: "Onest", sans-serif;
$font-complementary: "Bodoni Moda", serif;
$fw-bold: 700;

// Espaciados
$padding-principal: 2rem 0;
